@font-face {
    font-family: 'BlackHanSans';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/zess/BlackHanSans.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/zess/BlackHanSans.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/zess/BlackHanSans.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/zess/BlackHanSans.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/zess/BlackHanSans.ttf') format("truetype");
    font-display: swap;
}